body{
  font-family: "Montserrat", sans-serif;
}

#title{
  background-color: 	#20b2aa;
  padding: 3% 5% 7%;
}

h1{
  font-family: "Montserrat-Black", sans-serif;
  color: #fff;
  font-weight: bolder;
  font-size: 3rem;
  line-height: 1.5;
}
h2{
  font-family: "Montserrat-Bold";
  font-size: 3rem;
  line-height: 1.5;

}
h3{
  font-family: 'Montserrat', sans-serif;
}
p{
  color: #8f8f8f;
}

nav{
  padding: 5% 7%;
}

/* .navbar{
  padding: 3% 3% 0;
} */
/* Navigation Bar */
.navbar-brand{
  color: #fff;
  font-family: 'Orbitron';
  font-size: 30px;
  font-weight: bold;
  background: -webkit-linear-gradient(#ff0000, #fffb00, #40ff00, #d5ed00, #f54542, #ff00d0, #7700ed);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: -2px -2px 3px black;
}
.nav-link{
  font-family: "Montserrat-Light-Italic", cursive;
  font-size: 16px;
  color: #fff;
}

                                                /* Title and photo */

.title-photo{
  padding-top: 5rem;
  margin: 0;
}
#lap-img{
  padding-top: 1rem;
  padding-left: 4rem;
}


/* Download Button */
.download{
  margin: 5% 3% 0;
}

/* Image rotation */
.laptop{
  transform: rotate3d(30deg);
}



/* Features */

#features{
  background-color: #fff;
  text-align: center;
  padding: 5% 7%;
  line-height: 1.5;
}
.icon{
  margin-bottom: 1rem;
  color: #20b2aa;
}

.icon:hover{
  color: #1f818c;
}

.feat{
  padding: 5%;
}


/* Testimonials Section */
#testimonials{
  padding: 5% 7%;
  text-align: center;
  background-color: #20b2aa;
  color: #fff;
}

.carousel-item{
  padding: 3rem 0;
}
.student-img{
  width: 5rem;
  border-radius: 100%;
  margin: 1rem;
}



/* Pricing */
#pricing{
  padding: 5% 7%;
  text-align: center;
}

.course-img{
  width: 19rem;
  position: relative;
}

.course-col{
  padding: 3% 2%;
}

.card-body{
  background-color: #eee;
  text-align: center;
}

/* About */
#about{
  font-family: "Montserrat", sans-serif;
  background-color: #20b2aa;
  text-align: center;
  padding: 5% 7%;
  line-height: 1.5;
  color: #fff;
}
.story{
  font-family: "Montserrat-Light";
  color: #dce6e5;
  font-size: 1.5rem;
}

/* Call to Action */
#cta{
  text-align: center;
  padding: 5% 7%;
}

/* Footer */
#footer{
  background-color: #333;
  text-align: center;
  padding: 5% 7% 2%;
}

.footer-icon{
  color: #fff;
  padding: 1rem;
}
